@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


:root {
  --bs: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  --dark: #1b2938;
}


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
  }
  
  .light-mode {
    background-color: #fff;
    color: #333;
    height: 100vh;
    
    overflow: auto;
  }
  
  
  .dark-mode {
    background-color: var(--dark);
    color: #999;
    height: 100vh;
    overflow: auto;
  }

.dark-mode nav {
  background-color: #1b2938;
}


 nav {
    width: auto;
    margin: 0 auto;
    display: flex;
    box-shadow: var(--bs);
    padding: 20px;
  }
  
  main {
    padding: 0.5em;
    margin: 0 auto;
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.1;
    height: 90vh;
  }
  
  h1 {
    margin: 0;
  }
  
  .toggle {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"].checkbox {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  }
  
  input[type="checkbox"].checkbox:checked + label {
    left: 30px;
  }
  
  input[type="checkbox"].checkbox:focus-visible {
    outline: solid 2px white;
  }
  
  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: cyan;
  }
  
  .toggle-container {
    display: flex;
    margin: 0 auto;
  }
  
  .toggle-container > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 2px;
  }
  
  .toggle-container > span:last-child {
    margin-top: 5px;
  }
  